1.Print number from 1 to 5 using a while loop.

In [1]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

2.Calculate the sum of numbers from 1 to 10 using a while loop.

In [3]:
i=1
sum=0
while i<=10:
    sum+=i;
    i+=1;
print(sum)

55

3. Calculate the factorial of a number using a for loop.

In [6]:
n=5
res=1
for i in range(1, n+1):
    res=res*i
print(res)

120

4. Count the number of vowel in a string using a for loop.

In [8]:
vowels="aeiouAEIOU"
cnt=0
str=input("Enter Any String : ")
for i in str:
    if i in vowels:
        cnt+=1
print(cnt)

Enter Any String :  Sanket

2

5.Print a pattern using nested loop.

In [17]:
for i in range (1,5):
    for j in range(1,i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

In [18]:
size = 5
for i in range(size, 0, -1):
    print('* ' * i)

* * * * *
* * * *
* * *
* *
*

In [19]:
size=5
for i in range(size,0,-1):
    for j in range(1,i+1):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [24]:
size=5
for i in range (size,0,-1):
    print("* "* i)

* * * * *
* * * *
* * *
* *
*

In [30]:
for i in range (1,5+1):
    print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [28]:
size = 5
for i in range(1, size + 1):
    print(' ' * (size - i) + '* ' * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
6.Generate a mltiplication table using nested loop.

In [39]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j, end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100